@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');
body {
  background-color: powderblue;
  font-family: 'Kumbh Sans', sans-serif;
}
#loader:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1000ms infinite;
  content: "\2026";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
} 
